@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --primary-color:#55a9f7;
    --primary-color-dark: #337cea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffffff; /* Cor de fundo clara */
    color: var(--text-dark); /* Cor do texto padrão */
}


nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
   /* background-color: #ffffffff;*/
    z-index: 99;
}

.nav_content{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffff; /* Cor de fundo clara para o cabeçalho */
    color: var(--text-dark); /* Cor do texto no cabeçalho no tema claro */
}

.nav_content a {
    color: var(--primary-color); /* Cor dos links no tema claro */
  }

.logo{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.logo a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .logo a:hover{
    color: var(--primary-color-dark);
}

.dark-mode {
    background-color: #111; /* Cor de fundo escura */
    color: #fff; /* Texto branco no tema escuro */
  }

  .dark-mode .nav{
    background: #111;
  }

  /* Estilos para o cabeçalho no tema escuro */
  .dark-mode .nav_content {
    background-color: #111; /* Cor de fundo escura para o cabeçalho no tema escuro */
    color: #fff; /* Cor do texto no cabeçalho no tema escuro */
  }
  
  /* Estilos para links no tema escuro */
  .dark-mode .nav_content a {
    color: var(--primary-color); /* Cor dos links no tema escuro */
  }

  .dark-mode .logo a::before{
    background-color: #111;
  }

.section{
    background-color: #ffffffff;
}

.dark-mode .section{
    background-color: #111;
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    position: relative;
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.dark-mode .subtitle{
    color: #857c7c;
}

.subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.dark-mode .subtitle::before{
    background-color: #111;
}

.title{
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.dark-mode .title{
    color: var(--extra-light);
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.dark-mode .title::before{
    background-color: #111;
}

.title span{
    font-weight: 600;
}

.description{
    position: relative;
    line-height: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 2rem;
}

.dark-mode .description{
    color: #fff;
}

.description::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.dark-mode .description::before{
    background-color: #111;
}

.skill{
    position: relative;
    top: -20px;
    margin-bottom: 20px;
}

.skill h1{
    font-weight: 900;
}

.dark-mode .skill span{
    color: var(--extra-light);
    font-weight: 500;
}

.skill span{
    font-weight: 500;
}

.skill::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
}

.dark-mode .skill::before{
    background-color: #111;
}

.skill p{
    display: inline-block;
    font-size: 35px;
    margin-right: 1px;
}

.skill .html{
    color: #c42b2b;
}

.skill .css{
    color: #55a9f7;
}

.skill .javascript{
    color: #ffc400;
}

.skill .react{
    color: #337cea;
}

.skill .tailwind{
    color: #00abf0;
}

.skill .boot{
    color: #993399;
}

.action_btns{
     position: relative;
    display: flex;
    gap: 1rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.action_btns::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.dark-mode .action_btns::before{
    background-color: #111;
}

.hire_me{
   
   background-color: var(--primary-color);
    color: #ffffffff;
}


.hire_me:hover{
    background-color: var(--primary-color-dark);
}


.portfolio {
    color: var(--primary-color);
}

.dark-mode .portfolio{
    color: var(--primary-color-dark);
    background-color: black;
}

.portfolio:hover{
    background-color: var(--primary-color-dark);
    color: #ffffffff;
}


.image{
    position: relative;
    display: grid;
    place-items: center;
}

.image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.dark-mode .image::after{
    background-color: #111;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;
    z-index: 1;
}

.svg-container{
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.arrow-bottom{
    color: gray;
    animation: 0.4s ease 0s infinite alternate none running jump-arrow;
    cursor: pointer;
}


.container-slider {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  
  .container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  
  
  .slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
  }
  
  
  
  .on{
      opacity: 1;
      
    }
    
    
    #prev-button, #next-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .dark-mode #prev-button, #next-button{
        border: 1px solid #fff;
    background-color: #fff;
}
  
#prev-button img, #next-button img {
    width: 100%;
    height: 100%;
  }
  
  #prev-button {
    transform: rotate(180deg);
  }

  .container-images {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    }

.slider {
    width: 100%;
    transition: filter 0.3s ease-in-out;
}

.image-overlay {
    position: relative;
    width: 100%;
    text-align: center; /* Centraliza o botão horizontalmente */
}

.go-to-website-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #55a9f7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image-overlay:hover .slider {
    filter: blur(5px);
}

.image-overlay:hover .go-to-website-button {
    display: block;
}

.home-sci-container{
    position: absolute;
    margin: 60px;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.dark-mode .home-sci-container::before{
    background-color: #111;
}

.home-sci-container a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci-container a:hover {
    color: #ffffffff;
}

.home-sci-container a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci-container a:hover::before {
    width: 100%;
}


@keyframes jump-arrow{
    0%{
        transform: translateY(0px);
    }

    50% {
        transform: translateY(0.2em);
    }

    100% {
        transform: translateY(0.4em);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}


@media screen and (max-width: 768px) {
    nav .checkbox{
        display: block;
    }


    nav #check:checked ~ ul{
        left: 0;
    }


    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .skill{
        position: relative;
        top: -10px;
        margin-bottom: 20px;
    }

    .skill p{
        display: inline-block;
        align-items: center; /* Ajuste para centralizar verticalmente */
        margin-bottom: 10px; /* Espaçamento entre os ícones */
    }

    .skill p i{
        font-size: 35px; /* Tamanho do ícone ajustado para telas menores */
        margin-right: 5px; /* Espaçamento à direita do ícone */
    }


    .image{
        grid-area: 1/1/2/2;
    }

    .action_btns{
        margin: auto;
    }

    
    .svg-container{
        position: relative;
        top: 40px;
        justify-content: center;
        padding-left: 9%;
    }

    .container-images {
        max-width: 100%; /* Imagens agora são redimensionáveis */
      }
      
      .slider {
        max-width: 100%; /* Imagens agora são redimensionáveis */
        height: auto;
      }
      
     /* Modifique o CSS dos botões para posicioná-los nas bordas das imagens */
#prev-button, #next-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: var(--text-light); /* Fundo com 50% de opacidade */
    cursor: pointer;
    position: absolute;
    top: 190%; /* Centralize verticalmente nas bordas */
    transform: translateY(-50%); /* Ajuste para centralizar verticalmente */
    z-index: 1; /* Coloque os botões acima das imagens */
}

  .dark-mode #prev-button, #next-button{
    border: 1px solid #fff;
    background-color: #fff;
  }
  
  #prev-button {
    left: 10px; /* Posicione o botão esquerdo 10px da borda */
  }
  
  #next-button {
    right: 10px; /* Posicione o botão direito 10px da borda */
  }

  #prev-button {
    transform: rotate(180deg);
  }

      
      /* Modifique a largura máxima para um layout responsivo (se já não o fez) */
      :root {
          --max-width: 100%; /* Altere para 100% para layout responsivo */
      }
          .home-sci-container {
              position: relative; /* Remova a posição absoluta */
              margin: 50px auto; /* Centralize horizontalmente com margens superior e inferior */
              width: auto; /* A largura se ajustará automaticamente ao conteúdo */
              
          }
          
              .home-sci-container::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  background: #ffffffff;
                  animation: showRight 1s ease forwards;
                  animation-delay: 2.5s;
                  z-index: 2;
              }
          }
          
          .home-sci-container a {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              background: transparent;
              border: 2px solid #00abf0;
              border-radius: 50%;
              font-size: 20px;
              color: #00abf0;
              text-decoration: none;
              z-index: 1;
              overflow: hidden;
              transition: .5s;
          }
          
          .home-sci-container a:hover {
              color: #ffffffff;
          }
          
          
          .home-sci-container a::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 0;
              height: 100%;
              background: #00abf0;
              z-index: -1;
              transition: .5s;
          }
          
          .home-sci-container a:hover::before {
              width: 100%;
       } 
      

