@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');

:root{
    --primary-color:#55a9f7;
    --primary-color-dark: #337cea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffffff; /* Cor de fundo clara */
    color: var(--text-dark); /* Cor do texto padrão */
}


nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
   /* background-color: #ffffffff;*/
    z-index: 99;
}

.nav_content{
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffff; /* Cor de fundo clara para o cabeçalho */
    color: var(--text-dark); /* Cor do texto no cabeçalho no tema claro */
}

.nav_content a {
    color: var(--primary-color); /* Cor dos links no tema claro */
  }

.logo{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.3s;
}

.logo a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}


nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
}

nav .logo a:hover{
    color: var(--primary-color-dark);
}



nav .checkbox{
    display: none;
}

nav input{
    display: none;
}

nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

nav .checkbox i:hover{
    color: var(--primary-color-dark)
}

ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transform: 0.3s;
}

ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}

.dark-mode {
    background-color: #111; /* Cor de fundo escura */
    color: #fff; /* Texto branco no tema escuro */
  }

  .dark-mode .nav{
    background: #111;
  }

  /* Estilos para o cabeçalho no tema escuro */
  .dark-mode .nav_content {
    background-color: #111; /* Cor de fundo escura para o cabeçalho no tema escuro */
    color: #fff; /* Cor do texto no cabeçalho no tema escuro */
  }
  
  /* Estilos para links no tema escuro */
  .dark-mode .nav_content a {
    color: var(--primary-color); /* Cor dos links no tema escuro */
  }

  .dark-mode .logo a::before{
    background-color: #111;
  }

.section{
    background-color: #ffffffff;
}

.dark-mode .section{
    background-color: #111;
}

.section_container{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle{
    position: relative;
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: .5rem;
}

.dark-mode .subtitle{
    color: #857c7c;
}

.subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.dark-mode .subtitle::before{
    background-color: #111;
}

.title{
    position: relative;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.dark-mode .title{
    color: var(--extra-light);
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.dark-mode .title::before{
    background-color: #111;
}

.title span{
    font-weight: 600;
}

.description{
    position: relative;
    line-height: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 2rem;
}

.dark-mode .description{
    color: #fff;
}

.description::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.dark-mode .description::before{
    background-color: #111;
}

.action_btns{
     position: relative;
    display: flex;
    gap: 1rem;
}

.action_btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.action_btns::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.dark-mode .action_btns::before{
    background-color: #111;
}

.hire_me{
   
   background-color: var(--primary-color);
    color: #ffffffff;
}


.hire_me:hover{
    background-color: var(--primary-color-dark);
}


.portfolio {
    color: var(--primary-color);
}

.dark-mode .portfolio{
    color: var(--primary-color-dark);
    background-color: black;
}

.portfolio:hover{
    background-color: var(--primary-color-dark);
    color: #ffffffff;
}


.image{
    position: relative;
    display: grid;
    place-items: center;
}

.image::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.dark-mode .image::after{
    background-color: #111;
}

.image img{
    width: min(25rem, 90%);
    border-radius: 100%;
    z-index: 1;
}


.home-sci-container{
    position: absolute;
    margin: 60px;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffffff;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.dark-mode .home-sci-container::before{
    background-color: #111;
}

.home-sci-container a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci-container a:hover {
    color: #ffffffff;
}

.home-sci-container a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci-container a:hover::before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}


@media screen and (max-width: 768px) {
    nav .checkbox{
        display: block;
    }

    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #ffffffff;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    .dark-mode ul{
        background-color: #111;
    }

    nav #check:checked ~ ul{
        left: 0;
    }



    ul li a{
        font-size: 1.25rem;
    }

    .section_container{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image{
        grid-area: 1/1/2/2;
    }

    .action_btns{
        margin: auto;
    }

    .home-sci-container {
        position: static ; /* Remova a posição absoluta */
        margin: 20px auto; /* Centralize horizontalmente com margens superior e inferior */
        width: auto; /* A largura se ajustará automaticamente ao conteúdo */
        
    }

        .home-sci-container::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: #ffffffff;
            animation: showRight 1s ease forwards;
            animation-delay: 2.5s;
            z-index: 2;
        }
    }
    
    .home-sci-container a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #00abf0;
        border-radius: 50%;
        font-size: 20px;
        color: #00abf0;
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
        transition: .5s;
    }
    
    .home-sci-container a:hover {
        color: #ffffffff;
    }
    
    
    .home-sci-container a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #00abf0;
        z-index: -1;
        transition: .5s;
    }
    
    .home-sci-container a:hover::before {
        width: 100%;
    }

    
  